<div class="container mt-2 mb-2">

    <div class="row">


        <div class="card col-md-4 col-sm-6 col-lg-3 d-flex flex-column bg-dark fade-in">
            <h4 class="card-title text-bone">Add Course</h4>
            <!-- <div class="" *ngFor="let category of matchingCategories">
                <img class="card-img-top text-bone" [src]="category.CatPic" alt="Card image cap">
            </div> -->
            <div>
                <h5>Add Course</h5>
            </div>
            <button class="btn btn-white btn-outline-black mb-1 stretched-link text-bone"
                (click)="addCourse()">
                <h5>Add Course</h5>
                <h6></h6>
            </button>
            <div>
                <h6>Add Course</h6>
            </div>
            <!-- <a [routerLink]="['/details']" [queryParams]="{CourseID: Course.CourseID}"  class="stretched-link btn btn-secondary btn-outline-light mb-1" style="opacity: 0;">View Details</a> -->
        </div>


        <div class="card col-md-4 col-sm-6 col-lg-3 d-flex flex-column bg-dark fade-in" *ngFor="let Course of courses">
            <h4 class="card-title text-bone">{{Course.courseName}}</h4>
            <!-- <div class="" *ngFor="let category of matchingCategories">
                <img class="card-img-top text-bone" [src]="category.CatPic" alt="Card image cap">
            </div> -->
            <div>
                <h5>{{Course.courseName}}</h5>
            </div>
            <button class="btn btn-white btn-outline-black mb-1 stretched-link text-bone"
                (click)="onClick(Course.id.toString())">
                <h5>{{Course.courseNum}}</h5>
                <h6>{{Course.dept}} {{Course.instructor}} {{Course.numDays}} {{Course.startDate}}</h6>
            </button>
            <div>
                <h6></h6>
            </div>
            <!-- <a [routerLink]="['/details']" [queryParams]="{CourseID: Course.CourseID}"  class="stretched-link btn btn-secondary btn-outline-light mb-1" style="opacity: 0;">View Details</a> -->
        </div>

    </div>
</div>