<header>

  <button type="button" class="fa fa-bars" aria-hidden="true" data-bs-toggle="modal" data-bs-target="#exampleModal">
    <h6>Nav</h6>
  </button>
  <div class="modal fade-in modal-left modal_outer left_modal fade" id="exampleModal" tabindex="-1" role="dialog"
    [ngStyle]="{'display':display}">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <i type="button" class="fa fa-angle-double-left" data-bs-dismiss="modal" aria-label="Close"> Navigation</i>

        </div>
        <div class="modal-body">
          <a class="nav-link text-black bi-house" data-bs-dismiss="modal" routerLinkActive="active" aria-current="page"
            routerLink="/"> Home</a>
          <span>
            <a class="nav-link text-black " data-bs-dismiss="modal" routerLinkActive="active" aria-current="page"
              routerLink="/all">Course Catalog</a></span>
        </div>

      </div>
    </div>
  </div>

  <div class="content bg-white">
    <nav class="navbar bg-white navbar-expand-lg text-black ">
      <div class="container-fluid">
        <button class="navbar-toggler btn-outline-light" type="button" data-bs-toggle="collapse"
          data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ">
            <li class="nav-item">
              <a class="nav-link text-black bi-house" routerLinkActive="active" aria-current="page"
                routerLink="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-black " routerLinkActive="active" aria-current="page" routerLink="/all">Course
                Catalog</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>

</header>
<main>
  <router-outlet></router-outlet>
  <div class="container mt-4">
    <div class="">
      <div class="z-10 flex justify-center px-6 md:px-0 mb-10 md:mb-[3vw]">
        <h1 class="max-w-[13em] text-center uppercase text-bone fade-in">
          Greendale's 2nd Best discount 2 year community college</h1>
      </div>
    </div>
    <div class="flex justify-center px-6 md:px-0 mb-10 md:mb-[3vw]">
      <a routerLink="/">
        <img src="../assets/greendaleicon.jpg" width="120" height="15" alt="GreenDale Community College Icon Image"
          class="w-full text-bone">
      </a>
    </div>

  </div>
  <!-- <div class="container-fluid">
  
      <video id="myVideo" onloadedmetadata="this.muted=true" autoplay muted loop controls="false">
        <source id="test" src="../assets/backgroundvid.mp4" type="video/mp4">
        Your browser does not support HTML5 video.
      </video>
    </div> -->



</main>

<footer></footer>