<div class="container mt-4">
    <div class="z-10 flex justify-center px-6 md:px-0 mb-10 md:mb-[3vw]">
      <a routerLink="/">
        <img src="../../assets/splashimage.jpg" width="120" height="15" alt="GreenDale Community College Icon Image"
          class="w-full text-bone">
      </a>
    </div>

  </div>