<div class="container mt-2 mb-2">

    <div class="row">

        <div *ngIf="course != undefined"
            class="card col-md-4 col-sm-6 col-lg-3 d-flex flex-column text-bone bg-black fade-in">
            <h4 class="card-title text-bone">{{course.courseName}}</h4>
            <button class="btn btn-black btn-outline-light mb-1 stretched-link text-bone">
                <h4>Course Number: {{course.courseNum}}</h4>
            </button>
            <div class="text-bone">
                <h6>Instructor: {{course.instructor}}</h6>
            </div>
            <div class="text-bone">
                <h6>Start Date: {{course.startDate}}</h6>
            </div>
            <div class="text-bone">
                <h6>Number of Days: {{course.numDays}}</h6>
            </div>
            <!-- <a [routerLink]="['/details']" [queryParams]="{ServiceID: service.ServiceID}"  class="stretched-link btn btn-secondary btn-outline-light mb-1" style="opacity: 0;">View Details</a> -->
        </div>

    </div>
</div>